body {
    font-family: Arial;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #c6bcb6;
}

#welcome {
    font-family: 'harry_pregular';
    font-size: 130px;
    text-align: center;
}

.component-container {
    width: 100%;
    text-align: center;
} 

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.containerNav {
    list-style: none;
    display: flex;
    height: 100px;
    background-color: #625750;
    align-items: center;
    padding: 0px 0px;
    margin: 0px 0px;
}

.boxNav {
    flex: 1;
    font-size: 30px;
    background-color: #625750;
    margin: 0px 0px;
    letter-spacing: 5px;
}  

 a {
    color: white;
    font-weight: 100; 
    letter-spacing: 2px; 
    text-decoration: none;
    background: rgba(0, 0, 0, 0.2);  
    padding: 20px 5px;
    display: inline-block; 
    width: 100%; 
    text-align: center;
    transition:all 0.5s;   
} 

a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.boxID {
    background: grey;
}
.containerTable {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
}

.containerRow {
    display: flex;
    flex-direction: row;
    align-items: center;  
    background: lightgrey;
    padding-left: 30px;
    height: 42px;
    border-top: 1px solid black;
}

#header {
    background: #2E3338;
    font-size: 20px;
    font-weight: bold;
    color: white;
    height: 50px;
}

.col-1{
    width: 15%;
}

.col-2{
    width: 20%;
}

.col-3{
    width: 15%;
}

.col-4{
    width: 20%;
}

.col-5{
    width: 15%;
}

img {
    max-height: 18px;
}

.containerTable a {
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.2); 
    padding: 12px 0px; /* NEED TO FIX THIS FOR THE LIST STUDENT COMPONENT*/
    width: 100%;
    text-align: center;
    transition:all 0.5s;
}

.containerTable a:hover {
    background: rgba(0, 0, 0, 0.3);
}
 
button, .button {
    background-color: white;
    border-radius: 2px;
    border: none;
    color: black;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #e7e7e7;
}

.spacer {
    margin: 60px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center; 
}

.campus-button {
    width: 50%;
    margin: 2px 0px;
}

.delete-button {
    width: 20%;
    margin: 2px 0px;
}

input {
    width: 88%;
    padding: 10px 10px;
    font-size: 16px;
}

select {
    height: 42px;
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;    
}

#form-submit {
    display: block;
}

.new-instance {
    display: flex;
    flex-direction: column;
    width: 30%;
}

/* TRANSITION GROUP STYLING */
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}